@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.chart-header {
    font-family: "Nunito", serif;
       text-transform: uppercase;
}


.app {
  display: flex;
  position: relative;
  overflow-x: hidden;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  /* Full width when expanded */
  background-color: #2e2e2e;
  /* Example background */
  color: white;
  z-index: 1000;
  transition: width 0.3s ease-in-out;
  /* Smooth collapse animation */
}

/* Main content */
.content {
  /* margin-left: 250px; */
  /* Match the expanded width of the sidebar */
  flex-grow: 1;
  overflow-y: auto;
  /* Allows scrolling */
  transition: margin-left 0.3s ease-in-out;
  min-width: 300px;
  /* padding: 15px */
  /* overflow-x: hidden; */
  /* Smooth adjustment when sidebar collapses */
}

.content.collapsed {
  margin-left: 80px;
    overflow-x: hidden;
  /* Adjust when the sidebar is collapsed */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
